*{
  margin: 0;
  padding: 0;
}

body{
  background: #9adbf3;
}


.head{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.head h1{
  color: #fff;
  font-size: 50px;
}
.container{
  width: 1300px;
  margin: 0 auto;
}
.cardswrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: space-between;
}

.card{
  width: 320px;
  height: 200px;
  background: #fcaca5;
  padding: 20px 40px;
}
.card h2{
  color: #fff;
}
.card p{
  color: #4593a8;
}
small{
  color: #fff;
}
